// @import '../../styles/scss/_config';
.main-app-bar {
  background-color: rgb(175, 231, 233);
  height: 82px;
  display: grid;
  .mfa-container {
    display: grid;
  }
  .nav-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    .main-links {
      display: grid;
      grid-auto-flow: column;
      justify-self: end;
      grid-gap: 22px;
      font-size: 22px;
      color: var(--main-app-color);
      text-transform: uppercase;
    }
  }
  h1 {
    color: var(--main-app-color);
  }
}
